body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
    font-size: 112.5%;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
    margin: 0;
}

h3 {
    font-weight: 400;
    margin: 0;
}

header {
    background: #EAE8E6;
    text-align: center;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

main {
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

.profile-picture {
    margin: 0 auto;
}

.skills {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0px;
}

.skill {
    margin: 2px;
    background-color: #C7E0DD;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 5px;
}

.contact {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-style: normal;
}

.social {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.footer {
    background: #EAE8E6;
    text-align: center;
}