.contact {
  text-align: center;
  font-style: normal;
}

.address {
  margin-bottom: 20px;
}

.phone {
  align-self: center;
}

.email {
  align-self: center;
}

/*===========media querie==============
=========  max-width: 575px  ========*/

@media only screen and (max-width: 575px) {
  .contact {
    margin: 80px 0;
    padding: 10px;
  }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
}
