.skills {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
}

.skills__item {
  margin: 2px;
  background-image: linear-gradient(to right, #f6f4f6, #ebe9eb);
  box-shadow: 2px 2px 2px #dcdadb;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
}

/*===========media queries=============
=====================================*/

@media (min-width: 768px) {
  .skills__boss {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
  }

  .skills {
    margin-right: 25px;
    margin-left: 25px;
  }
}
