@import 'components/contact.css';
@import 'components/footer.css';
@import 'components/header.css';
@import 'components/profile.css';
@import 'components/resume.css';
@import 'components/skills.css';
@import 'components/social.css';
@import 'components/social.css';

@import '_base.css';
@import '_utility.css';
@import '_variables.css';

/* ====================================
=============media querie==============
=========  max-width: 575px  ==========
=====================================*/
@media only screen and (max-width: 575px) {
}

/* ====================================
=============media querie==============
=========  min-width: 576px  ==========
=====================================*/

@media only screen and (min-width: 576px) and (max-width: 767px) {
  main {
    margin: 0px 40px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .main-header {
    box-shadow: 0 1.5px 5px #dcdadb;
  }

  .main-nav {
    justify-content: center;
  }

  .main-nav a {
    padding: 0 20px;
  }

  .profile-text {
    margin: 40px 0;
    text-align: center;
  }

  .contact {
    margin: 80px 0;
    padding: 10px;
  }

  .social {
    justify-content: space-evenly;
  }

  .resume {
    margin-top: 80px;
  }
}

/* ====================================
=============media querie==============
=========  min-width: 768px  ==========
=====================================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  main {
    margin: 0px 60px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .main-header {
    box-shadow: 0 1.5px 5px #dcdadb;
  }

  .main-nav {
    justify-content: center;
  }

  .main-nav a {
    padding: 0 20px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-picture {
    order: 1;
  }

  .profile-text {
    margin: 0;
    text-align: left;
    padding-right: 40px;
  }

  .skills-boss {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
  }

  .contact {
    margin: 80px 0;
    padding: 10px;
  }

  .social {
    justify-content: space-evenly;
    margin: 0 20%;
  }

  .resume {
    margin-top: 80px;
  }
}

/* ====================================
=============media querie==============
=========  min-width: 992px  ==========
=====================================*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main {
    margin: 0px 150px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    padding-bottom: 2px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1.5px 5px #dcdadb;
  }

  .logo {
    margin: 20px 0;
    margin-left: 150px;
  }

  .main-nav {
    align-self: center;
    margin-right: 150px;
  }

  .main-nav a {
    margin-left: 10px;
    padding: 0 20px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-picture {
    order: 1;
  }

  .profile-text {
    margin: 0;
    text-align: left;
    padding-right: 40px;
  }

  .skills-boss {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
  }

  .skills {
    margin: 0 40px;
  }

  .desktop-view {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }

  .personal {
    margin-left: 40px;
    order: 1;
  }

  .about-me {
    max-width: 600px;
    order: 0;
  }

  .social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .social a {
    padding: 10px;
  }

  .resume {
    margin-top: -20px;
  }

  .main-nav a:hover {
    background-color: #464d54;
    color: #f6f4f6;
    border-radius: 5px;
  }
}

/* ====================================
=============media querie==============
========  min-width: 1200px  ==========
=====================================*/

@media only screen and (min-width: 1200px) {
  main {
    margin: 0 auto;
    min-width: 899px;
    max-width: 899px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    padding-bottom: 2px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 899px;
    max-width: 899px;
    z-index: -1;
  }

  .big-view {
    background: #f6f4f6;
    text-align: center;
    padding: 5px;
    box-shadow: 0 1.5px 5px #dcdadb;
    z-index: 1;
  }

  .logo {
    margin: 20px 0;
  }

  .main-nav {
    align-self: center;
  }

  .main-nav a {
    margin-left: 10px;
    padding: 0 20px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-picture {
    order: 1;
  }

  .profile-text {
    margin: 0;
    text-align: left;
    padding-right: 40px;
  }

  .skills-boss {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 80px;
  }

  .skills {
    margin: 0 40px;
  }

  .desktop-view {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }

  .personal {
    margin-left: 40px;
    order: 1;
  }

  .about-me {
    max-width: 600px;
    order: 0;
  }

  .social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .social a {
    padding: 10px;
  }

  .resume {
    margin-top: -20px;
  }

  .main-nav a:hover {
    background-color: #464d54;
    color: #f6f4f6;
    border-radius: 5px;
  }
}

/* ====================================
=================  END  ===============
=====================================*/
